---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Dwi Suwarno</h1>
			<p class="hero__text">
				Welcome to my website. I'm dwi, staff at ITC SMK YADITAMA
			</p>
			<!-- <Boton href="#" texto="Quiero saber más"/> -->
		</div>
    <img
		class="hero__img"
		src="/img/dwisuwarno.webp"
		alt="dwisuwarno"
		width="384"
    	height="384"
	/>
	</div>
</section>
