---
import './header.css';
const { origin } = Astro.props;
import Logo from '../Logo.astro';
---

<header class="header">
	<div class="header__container">
		<Logo name="Dwi Suwarno"/>
		<nav class="links"   tabindex="0.1">
			<button class="menu__btn" >Menu</button>
		</nav>
	</div>
</header>
