---
import Logo from '../Logo.astro';
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer>
	<div class="footer__container">
		<Logo name="Dwi Suwarno" />
		<!-- <SocialIcons width="23" height="23" /> -->
	</div>

</footer>
